# Copyright (c) 2011, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1

    # Mount Points for External Storage Devices
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 root root

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/f_mass_storage/vendor ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/f_mass_storage/product ${ro.product.model}
    write /sys/module/dwc3_msm/parameters/prop_chg_detect 1
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root
    chown system system /sys/class/android_usb/android0/secure
    chmod 0660 /sys/class/android_usb/android0/secure
    # Configure BAM2BAM_IPA for RNDIS
    write /sys/class/android_usb/android0/f_rndis_qc/rndis_transports BAM2BAM_IPA
    # Disable RNDIS UL aggregation
    write /sys/class/android_usb/android0/f_rndis_qc/max_pkt_per_xfer 1
    write /sys/module/g_android/parameters/mtp_rx_req_len 524288
    write /sys/module/g_android/parameters/mtp_tx_req_len 524288

on early-boot
    # boot with max freq, will be reset in post_boot script
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1555200
    exec /system/bin/sh /init.mmi.early_boot.sh

on charger
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 22B8
    write /sys/class/android_usb/android0/idProduct 2EB7
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/enable 1

	trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger moto-charger

on moto-charger
    setprop ro.board.platform msm8994
    start  qcom-post-boot
    start charge_only_mode
    start batt_health
    start thermal-com

on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

on post-fs
    mkdir /persist/camera 02755 mot_tcmd mot_tcmd
    mkdir /persist/camera/ledcal 02755 camera mot_tcmd
    mkdir /persist/factory 0755 mot_tcmd mot_tcmd
    mkdir /persist/public 0755 mot_tcmd mot_tcmd
    mkdir /persist/public/atvc 0770 mot_atvc shell
    mkdir /persist/public/battd 0755 mot_accy mot_tcmd
    mkdir /persist/public/hiddenmenu 0755 radio radio
    mkdir /persist/public/hiddenmenu/data 0775 system mot_tcmd
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /persist/wifi 0755 mot_tcmd mot_tcmd
    mkdir /persist/bt 0755 mot_tcmd bluetooth
    mkdir /persist/wmdrm 0775 mot_drm mot_drm
    mkdir /persist/batt_health 0755 mot_pwric mot_pwric
    mkdir /persist/mdm 0770 radio radio

    chown mot_tcmd mot_tcmd /persist/factory/fti
    chmod 0660 /persist/factory/fti
    chown mot_tcmd mot_tcmd /persist/factory/byte
    chmod 0660 /persist/factory/byte
    chmod 0660 /persist/wifi/wlan_mac.bin
    chown mot_tcmd mot_tcmd /persist/bt/bt_bdaddr
    chmod 0664 /persist/bt/bt_bdaddr
    chmod 0600 /persist/whisper/whisper_only/vector0.bin

    # ensure /persist/antcap exists and has correct permissions for motosh to access
    mkdir /persist/antcap 0755 mot_tcmd mot_tcmd
    chown mot_tcmd mot_tcmd /persist/antcap
    chmod 0755              /persist/antcap

    # move /persist/captouch_caldata.bin to /persist/antcap (if necessary)
    copy  /persist/captouch_caldata.bin /persist/antcap/captouch_caldata.bin
    chown mot_tcmd mot_tcmd /persist/antcap/captouch_caldata.bin
    chmod 0644              /persist/antcap/captouch_caldata.bin
    rm    /persist/captouch_caldata.bin

    # move /persist/captouch_basedata.bin to /persist/antcap (if necessary)
    copy  /persist/captouch_basedata.bin /persist/antcap/captouch_basedata.bin
    chown mot_tcmd mot_tcmd /persist/antcap/captouch_basedata.bin
    chmod 0644              /persist/antcap/captouch_basedata.bin
    rm    /persist/captouch_basedata.bin

    # Permissions CapSense firmware update & reset
    chown mot_tcmd mot_tcmd /sys/class/capsense/fw_update
    chmod 0660 /sys/class/capsense/fw_update
    chown mot_tcmd mot_tcmd /sys/class/capsense/reset
    chmod 0660 /sys/class/capsense/reset

    swapon_all fstab.qcom
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

on post-fs-data

    # Setup folders for security
    mkdir /persist/security 02770 mot_tpapi mot_tpapi
    mkdir /data/local/dbvc 0750 mot_tcmd shell

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/system/dropbox-add 0730 system diag

    # Create directory used by power_supply_logger
    mkdir /data/power_supply_logger 0750 mot_pwric log

    # Permissions for Factory Test of Charging Paths
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_itrick
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_iusb
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_otg_ctl
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_itrick
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_iusb
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/class/power_supply/usb-parallel/device/force_chg_fail_clear

    # Create directory for cutback
    mkdir /data/misc/cutback 0770 radio wifi

    # Subsystem RAM-dumps
    mkdir /data/ss-ram-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/bp-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/riva-dumps 0750 radio log

    # folder for Blueooth ramdump
    mkdir /data/bt-ram-dumps 0750 bluetooth log

    # Change ownership of aov related sysfs entries
    chown audio audio /sys/kernel/aov/trigger
    chown audio audio /sys/kernel/aov/register
    chown audio audio /sys/kernel/aov/event

    # Create directory for adspd
    mkdir /data/adspd/ 0770 audio diag

    # Sensor Hub calibration data directory
    mkdir /data/misc/sensorhub 0770 system compass

    # Setup folder for camera HAL subsystem
    mkdir /data/camera_dump 0750 media media

    # SD card encryption metadata
    mkdir /data/misc/sds 0750 root root

    # Create bug2go folder
    mkdir /data/bug2go 0750 log log

service mmi-usb-sh /system/bin/sh /init.mmi.usb.sh
    class core
    user root
    oneshot

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

on property:tcmd.ctrl_adb=1
    stop mmi-usb-sh
    setprop usb.mmi-usb-sh.action tcmd.ctrl_adb
    start mmi-usb-sh

on property:tcmd.ctrl_adb=0
    stop mmi-usb-sh
    setprop usb.mmi-usb-sh.action tcmd.ctrl_adb
    start mmi-usb-sh

on property:tcmd.ctrl_diag=1
    stop mmi-usb-sh
    setprop usb.mmi-usb-sh.action tcmd.ctrl_diag
    start mmi-usb-sh

on property:tcmd.ctrl_diag=0
    stop mmi-usb-sh
    setprop usb.mmi-usb-sh.action tcmd.ctrl_diag
    start mmi-usb-sh

# USB compositions
on property:sys.usb.config=diag,serial_smd,serial_tty,rmnet_bam,mass_storage,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9025
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/f_rmnet/transports qti,bam2bam_ipa
    write /sys/class/android_usb/android0/functions diag,adb,serial,rmnet,mass_storage
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,serial_smd,serial_tty,rmnet_bam,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9026
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/f_rmnet/transports qti,bam2bam_ipa
    write /sys/class/android_usb/android0/functions diag,serial,rmnet,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct 2e24
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct 2e25
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct ${ro.usb.mtp}
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1

    start adbd

    setprop sys.usb.state ${sys.usb.config},adb

on property:sys.usb.config=mtp,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct ${ro.usb.mtp_adb}
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,serial_smd,serial_tty,rmnet,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct ${ro.usb.bpt_adb}
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/f_rmnet/transports qti,bam2bam_ipa
    write /sys/class/android_usb/android0/functions diag,serial,rmnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,serial_smd,serial_tty,rmnet
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct ${ro.usb.bpt}
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/f_rmnet/transports qti,bam2bam_ipa
    write /sys/class/android_usb/android0/functions diag,serial,rmnet
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,diag,serial_smd,serial_tty,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct ${ro.usb.bpteth_adb}
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/functions rndis,diag,serial,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,diag,serial_smd,serial_tty
    stop adbd
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct ${ro.usb.bpteth}
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/functions rndis,diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=usbnet,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 2e2d
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode internal
    write /sys/class/android_usb/android0/functions usbnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=usbnet
    stop adbd
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 2e2c
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode internal
    write /sys/class/android_usb/android0/functions usbnet
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,usbnet
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 2e34
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,usbnet
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,usbnet,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 2e35
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/diag/diag/logging_mode usb
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,usbnet,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct ${ro.usb.ptp}
    write /sys/class/android_usb/android0/functions ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    start tcmd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct ${ro.usb.ptp_adb}
    write /sys/class/android_usb/android0/functions ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=charging
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 22b8
    write /sys/class/android_usb/android0/idProduct 61A6
    write /sys/class/android_usb/android0/functions charging
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# QDSS - Qualcomm Debug Subsystem
on property:sys.usb.config=diag,qdss,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9060
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,qdss,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# Set RPS Mask for USB tethering
on property:sys.usb.tethering=true
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus ${sys.usb.rps_mask}
